usr/
#**************************************************************************
#*                                                                        *
#*                                 OCaml                                  *
#*                                                                        *
#*                 Damien Doligez, projet Gallium, INRIA                  *
#*                                                                        *
#*   Copyright 2015 Institut National de Recherche en Informatique et     *
#*     en Automatique.                                                    *
#*                                                                        *
#*   All rights reserved.  This file is distributed under the terms of    *
#*   the GNU Lesser General Public License version 2.1, with the          *
#*   special exception on linking described in the file LICENSE.          *
#*                                                                        *
#**************************************************************************

# general patterns

*.o
*.a
*.so
*.obj
*.lib
*.dll
*.la
*.cm[ioxat]
*.cmx[as]
*.cmti
*.annot
*.exe
*.exe.manifest
.DS_Store
*.out
*.out.dSYM
*.swp
_ocamltest
_ocamltestd
*.odoc
.merlin
_build

# local to root directory

./ocaml-sources/Makefile.build_config
./ocaml-sources/Makefile.config
./ocaml-sources/autom4te.cache
./ocaml-sources/ocamlc
./ocaml-sources/config.cache
./ocaml-sources/ocaml-*.cache
./ocaml-sources/config.log
./ocaml-sources/config.status
./ocaml-sources/libtool
./ocaml-sources/ocamlc.opt
./ocaml-sources/expunge
./ocaml-sources/ocaml
./ocaml-sources/ocamlopt
./ocaml-sources/ocamlopt.opt
./ocaml-sources/ocamlnat

# specific files and patterns in sub-directories

./ocaml-sources/asmcomp/emit.ml
./ocaml-sources/asmcomp/arch.ml
./ocaml-sources/asmcomp/proc.ml
./ocaml-sources/asmcomp/selection.ml
./ocaml-sources/asmcomp/reload.ml
./ocaml-sources/asmcomp/scheduling.ml
./ocaml-sources/asmcomp/CSE.ml

./ocaml-sources/boot/ocamlrun
./ocaml-sources/boot/camlheader
./ocaml-sources/boot/ocamlc.opt

./ocaml-sources/bytecomp/opcodes.ml
./ocaml-sources/bytecomp/opcodes.mli

./ocaml-sources/debugger/debugger_lexer.ml
./ocaml-sources/debugger/debugger_parser.ml
./ocaml-sources/debugger/debugger_parser.mli
./ocaml-sources/debugger/ocamldebug

./ocaml-sources/emacs/ocamltags
./ocaml-sources/emacs/*.elc

./ocaml-sources/lambda/runtimedef.ml

./ocaml-sources/lex/parser.ml
./ocaml-sources/lex/parser.mli
./ocaml-sources/lex/lexer.ml
./ocaml-sources/lex/ocamllex
./ocaml-sources/lex/ocamllex.opt
./ocaml-sources/lex/parser.output

./ocaml-sources/manual/src/cmds/warnings-help.etex
./ocaml-sources/manual/src/warnings-help.etex

./ocaml-sources/api_docgen/man
./ocaml-sources/api_docgen/html
./ocaml-sources/api_docgen/build
./ocaml-sources/api_docgen/latex
./ocaml-sources/api_docgen/texi
./ocaml-sources/api_docgen/Compiler_libs.mld

./ocaml-sources/ocamldoc/ocamldoc
./ocaml-sources/ocamldoc/ocamldoc.opt
./ocaml-sources/ocamldoc/odoc
./ocaml-sources/ocamldoc/odoc_crc.ml
./ocaml-sources/ocamldoc/odoc_lexer.ml
./ocaml-sources/ocamldoc/odoc_ocamlhtml.ml
./ocaml-sources/ocamldoc/odoc_parser.ml
./ocaml-sources/ocamldoc/odoc_parser.mli
./ocaml-sources/ocamldoc/odoc_see_lexer.ml
./ocaml-sources/ocamldoc/odoc_text_lexer.ml
./ocaml-sources/ocamldoc/odoc_text_parser.ml
./ocaml-sources/ocamldoc/odoc_text_parser.mli
./ocaml-sources/ocamldoc/*.output
./ocaml-sources/ocamldoc/test_stdlib
./ocaml-sources/ocamldoc/test_latex
./ocaml-sources/ocamldoc/test

./ocaml-sources/ocamltest/.dep
./ocaml-sources/ocamltest/ocamltest
./ocaml-sources/ocamltest/ocamltest.opt
./ocaml-sources/ocamltest/ocamltest_config.ml
./ocaml-sources/ocamltest/ocamltest_unix.ml
./ocaml-sources/ocamltest/tsl_lexer.ml
./ocaml-sources/ocamltest/tsl_parser.ml
./ocaml-sources/ocamltest/tsl_parser.mli
./ocaml-sources/ocamltest/ocamltest.html

./ocaml-sources/otherlibs/*/.dep
./ocaml-sources/otherlibs/dynlink/extract_crc
./ocaml-sources/otherlibs/dynlink/dynlink_platform_intf.mli
./ocaml-sources/otherlibs/dynlink/byte/dynlink.mli
./ocaml-sources/otherlibs/dynlink/native/dynlink.mli
./ocaml-sources/otherlibs/dynlink/dynlink_compilerlibs/Makefile
./ocaml-sources/otherlibs/dynlink/dynlink_compilerlibs/*.ml
./ocaml-sources/otherlibs/dynlink/dynlink_compilerlibs/*.mli
./ocaml-sources/otherlibs/dynlink/dynlink_compilerlibs/.depend
./ocaml-sources/otherlibs/threads/marshal.mli
./ocaml-sources/otherlibs/threads/stdlib.mli
./ocaml-sources/otherlibs/threads/unix.mli
./ocaml-sources/otherlibs/win32unix/unixLabels.ml*
./ocaml-sources/otherlibs/win32unix/unix.mli
./ocaml-sources/otherlibs/win32unix/access.c
./ocaml-sources/otherlibs/win32unix/addrofstr.c
./ocaml-sources/otherlibs/win32unix/chdir.c
./ocaml-sources/otherlibs/win32unix/chmod.c
./ocaml-sources/otherlibs/win32unix/cst2constr.c
./ocaml-sources/otherlibs/win32unix/cstringv.c
./ocaml-sources/otherlibs/win32unix/execv.c
./ocaml-sources/otherlibs/win32unix/execve.c
./ocaml-sources/otherlibs/win32unix/execvp.c
./ocaml-sources/otherlibs/win32unix/exit.c
./ocaml-sources/otherlibs/win32unix/getaddrinfo.c
./ocaml-sources/otherlibs/win32unix/getcwd.c
./ocaml-sources/otherlibs/win32unix/gethost.c
./ocaml-sources/otherlibs/win32unix/gethostname.c
./ocaml-sources/otherlibs/win32unix/getnameinfo.c
./ocaml-sources/otherlibs/win32unix/getproto.c
./ocaml-sources/otherlibs/win32unix/getserv.c
./ocaml-sources/otherlibs/win32unix/gmtime.c
./ocaml-sources/otherlibs/win32unix/mmap_ba.c
./ocaml-sources/otherlibs/win32unix/putenv.c
./ocaml-sources/otherlibs/win32unix/rmdir.c
./ocaml-sources/otherlibs/win32unix/socketaddr.c
./ocaml-sources/otherlibs/win32unix/strofaddr.c
./ocaml-sources/otherlibs/win32unix/time.c
./ocaml-sources/otherlibs/win32unix/unlink.c
./ocaml-sources/otherlibs/win32unix/fsync.c
./ocaml-sources/otherlibs/win32unix/mkdir.c

./ocaml-sources/parsing/parser.ml
./ocaml-sources/parsing/parser.mli
./ocaml-sources/parsing/lexer.ml
./ocaml-sources/parsing/lexer_tmp.mll
./ocaml-sources/parsing/lexer_tmp.ml
./ocaml-sources/parsing/linenum.ml
./ocaml-sources/parsing/parser.output
./ocaml-sources/parsing/parser.automaton
./ocaml-sources/parsing/parser.conflicts
./ocaml-sources/parsing/parser.auto.messages
./ocaml-sources/parsing/camlinternalMenhirLib.ml
./ocaml-sources/parsing/camlinternalMenhirLib.mli

./ocaml-sources/runtime/caml/jumptbl.h
./ocaml-sources/runtime/caml/m.h
./ocaml-sources/runtime/caml/s.h
./ocaml-sources/runtime/primitives
./ocaml-sources/runtime/primitives.new
./ocaml-sources/runtime/prims.c
./ocaml-sources/runtime/caml/opnames.h
./ocaml-sources/runtime/caml/version.h
./ocaml-sources/runtime/ocamlrun
./ocaml-sources/runtime/ocamlrund
./ocaml-sources/runtime/ocamlruni
./ocaml-sources/runtime/ld.conf
./ocaml-sources/runtime/.gdb_history
./ocaml-sources/runtime/.dep
./ocaml-sources/runtime/domain_state32.inc
./ocaml-sources/runtime/domain_state64.inc

./ocaml-sources/stdlib/camlheader
./ocaml-sources/stdlib/target_camlheader
./ocaml-sources/stdlib/camlheader[di]
./ocaml-sources/stdlib/target_camlheader[di]
./ocaml-sources/stdlib/camlheader_ur
./ocaml-sources/stdlib/labelled-*
./ocaml-sources/stdlib/caml
./ocaml-sources/stdlib/sys.ml

./ocaml-sources/testsuite/**/*.result
./ocaml-sources/testsuite/**/*.opt_result
./ocaml-sources/testsuite/**/*.corrected
./ocaml-sources/testsuite/**/*.byte
./ocaml-sources/testsuite/**/*.native
./ocaml-sources/testsuite/**/program
./ocaml-sources/testsuite/**/_log*
./ocaml-sources/testsuite/failure.stamp

./ocaml-sources/testsuite/_retries


./ocaml-sources/testsuite/tools/codegen
./ocaml-sources/testsuite/tools/expect_test
./ocaml-sources/testsuite/tools/lexcmm.ml
./ocaml-sources/testsuite/tools/parsecmm.ml
./ocaml-sources/testsuite/tools/parsecmm.mli

./ocaml-sources/tools/ocamldep
./ocaml-sources/tools/ocamldep.opt
./ocaml-sources/tools/ocamlprof
./ocaml-sources/tools/ocamlprof.opt
./ocaml-sources/tools/opnames.ml
./ocaml-sources/tools/dumpobj
./ocaml-sources/tools/dumpobj.opt
./ocaml-sources/tools/dumpapprox
./ocaml-sources/tools/ocamlobjinfo
./ocaml-sources/tools/ocamlobjinfo.opt
./ocaml-sources/tools/cvt_emit
./ocaml-sources/tools/cvt_emit.opt
./ocaml-sources/tools/cvt_emit.ml
./ocaml-sources/tools/ocamlcp
./ocaml-sources/tools/ocamlcp.opt
./ocaml-sources/tools/ocamloptp
./ocaml-sources/tools/ocamloptp.opt
./ocaml-sources/tools/ocamlmktop
./ocaml-sources/tools/ocamlmktop.opt
./ocaml-sources/tools/primreq
./ocaml-sources/tools/primreq.opt
./ocaml-sources/tools/ocamldumpobj
./ocaml-sources/tools/keywords
./ocaml-sources/tools/ocamlmklib
./ocaml-sources/tools/ocamlmklib.opt
./ocaml-sources/tools/ocamlcmt
./ocaml-sources/tools/ocamlcmt.opt
./ocaml-sources/tools/cmpbyt
./ocaml-sources/tools/cmpbyt.opt
./ocaml-sources/tools/stripdebug
./ocaml-sources/tools/stripdebug.opt
./ocaml-sources/tools/make_opcodes
./ocaml-sources/tools/make_opcodes.ml
./ocaml-sources/tools/caml-tex
./ocaml-sources/tools/eventlog_metadata

./ocaml-sources/toplevel/byte/topeval.mli
./ocaml-sources/toplevel/byte/trace.mli
./ocaml-sources/toplevel/byte/topmain.mli
./ocaml-sources/toplevel/native/topeval.mli
./ocaml-sources/toplevel/native/trace.mli
./ocaml-sources/toplevel/native/topmain.mli

./ocaml-sources/utils/config.ml
./ocaml-sources/utils/domainstate.ml
./ocaml-sources/utils/domainstate.mli

./ocaml-sources/yacc/ocamlyacc
./ocaml-sources/yacc/version.h
./ocaml-sources/yacc/.gdb_history
